<div class="recipes-page">
	<div class="container recipe-show-page">
	<h1 class= "recipe-heading"><%= @recipe.title  %></h1>
		<div class="row">
		<!--<div class="col-sm-3 recipe-info-box">-->
				<!--	</div> -->
				<div class="col-span-9 recipe-image-box">
				<h4 class="recipe-description">Title: <%= @recipe.title %></h4>
				<h4 class="recipe-description">Description: <%= @recipe.description %></h4>
				</div>
			</div>

	<h2 class="ingredients">Ingredients</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Quantity</th>
					<th>Unit</th>
				</tr>
			</thead>
			<tbody>
				<% @recipe.ingredients.each do |ingredient| %>
				<tr>
					<td><%= ingredient.name %></td>
					<td><%= ingredient.quantity %></td>
					<td><%= ingredient.unit %></td>
				</tr>
			</tbody>
			<% end %>
			</table>

	<% if current_user.nil? %>
		<%= link_to "Add Ingredients to Shopping List", "#", class: "not_logged_in btn btn-default search-btn" %>
	<% else %>
		<button type="button" class="btn btn-default search-btn" data-toggle="modal" data-target=".login-modal">Add Ingredients to Shopping List</button>
    	<div class="modal fade login-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
   	  	<div class="modal-dialog modal-md">
        	<div class="shopping-list-modal">
          	<%= render "/partials/shopping_list" %>
       	 </div>
     	 </div>
			</div>
		<% end %>

	</div>
</div>
<div class="seperator-box-2">
		<h2 class="seperator-text-2">Instructions</h2>
		<p class="seperator-text-2"><%= @recipe.instructions %></p>
</div>








		

		
