

<div class="recipes-page">
	<div class="container recipe-show-page">
		<h1 class= "recipe-heading"><%= @recipe.title  %></h1>
		<div class="recipe-info">
			<h4 class="recipe-heading">Title: <%= @recipe.title %></h4>
			<h4 class="recipe-heading">Description: <%= @recipe.description %></h4>
		</div>

		<h2 class="ingredients">Ingredients</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Quantity</th>
					<th>Unit</th>
				</tr>
			</thead>
			<tbody>
				<% @recipe.ingredients.each do |ingredient| %>
				<tr>
					<td><%= ingredient.name %></td>
					<td><%= ingredient.quantity %></td>
					<td><%= ingredient.unit %></td>
				</tr>
			</tbody>
			<% end %>
		</table>
		<%= link_to "Add Ingredients to Shopping List", "#", class: "btn btn-default list-btn"  %>
	</div>
</div>
<div class="seperator-box-2">
		<h2 class="seperator-text-2">Instructions</h2>
		<p class="seperator-text-2"><%= @recipe.instructions %></p>
</div>

