<div class="recipes-page">
	<div class="container recipe-show-page">
		<h1 class= "recipe-heading"><%= @recipe.Title  %></h1>
		<div class="row">
			<div class="col-md-12">
					<% if @recipe.Description == nil %>
						 <p class="recipe-description"></p>
				 	<% else %>
						 <p class="recipe-description">Description: <%= @recipe.Description %></p>
				 	<% end %>
				</div>
		<div class="col-md-5 recipe-image-box pull-right">
				<%= image_tag @recipe.ImageURL %>
			</div>

	<div class="col-md-6">
	<h2 class="ingredients">Ingredients</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Quantity</th>
					<th>Unit</th>
				</tr>
			</thead>
			<tbody>
				<% @recipe.Ingredients["Ingredient"].each do |ingredient| %>
				<tr>
					<td><%= ingredient["Name"] %></td>
					<td><%= ingredient["Quantity"] %></td>
					<td><%= ingredient["Unit"] %></td>
				</tr>
			</tbody>
			<% end %>
		</table>
		<% if current_user.nil? %>
		<%= link_to "Add Ingredients to Shopping List", "#", class: "not_logged_in btn btn-default search-btn" %>
	<% else %>
		<div class="text-center"><button type="button" class="btn btn-default search-btn" data-toggle="modal" data-target=".login-modal">Add Ingredients to Shopping List</button></div>
    	<div class="modal fade login-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
   	  	<div class="modal-dialog modal-md">
        	<div class="shopping-list-modal">
          	<%= render "/partials/shopping_list" %>
       	 </div>
     	 </div>
			</div>
		<% end %>

	</div>

		</div>

	</div>
</div>
<div class="seperator-box-2">
		<h2 class="seperator-text-2">Instructions</h2>
		<p class="seperator-text-2"><%= @recipe.Instructions %></p>
</div>








		

		
