<div class="shopping-list-select-box">
	<h2 class="black-heading"><%= current_user.name %>'s Shopping Lists</h2>
	<h3 class="black-heading">Add a New Shopping List</h3>

	<div class="form-horizontal reg-form">
		<%= form_for (@shopping_list), url: shopping_list_index_path, method: :post do |f| %>
			
			<div class="form-group">
				<%= f.text_field :name, placeholder: "Enter a shopping list name", required: true  %>
			</div>	

				<%= f.hidden_field :recipe_id, value: @recipe.RecipeID  %>
				
			<div class="form-group">
				<#% @recipe.ingredients.each do |ingredient| %>
					<#%= f.hidden_field :ingredient, multiple: true, value: ingredient.id %>
				<#% end %>
			</div>	
			
			<%= f.submit "Create new shopping list", class: "btn btn-default search-btn" %>
		<% end %>
	</div>

	<hr>	
	<h2 class="black-heading">Select a shopping list</h2></br>
	<div>
		<% @shopping_lists.each do |shopping_list| %>
				<h3 class="black-heading inline-list">
					<%= shopping_list.name %>
					<%= render "/partials/shopping_list_ingredients", shopping_list: shopping_list, ingredients: @recipe.ingredients %>
					<hr>
		<% end %>
	</div>
</div>
