<!DOCTYPE html>
<html>
<head>
  <title>DelishList</title>
	<%= stylesheet_link_tag    'application', media: "all" %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}", class: "alert-danger col-md-12 text-center muted", role: "alert" %>
	<% end %>
	<%= render 'partials/header' %>
	<%= yield %>
</body>
</html>
